.accordion {
   border-radius: 16px!important;
   background: var(--color-background-papercolor);
   border: none;
}

.expanded {
  border-color: var(--color-secondary-light) !important;
}

.expanded :global .MuiAccordionSummary-root {
  background-color: var(--color-secondary-background);
}
